*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

body{
    width: 100vw;
    
    background-image: linear-gradient( 115deg, #ffffff, #ffffff 1%, #ffffff 11%, #ffffff 15%, 
    #ffffff 23.57%, transparent 23.57%, transparent 100% ),
	
    linear-gradient( 109deg, transparent, #ffffff 23.57%, #ffffff 41%, #ffffff 45%,
	transparent 45%, transparent 100% ),
	
    linear-gradient( 109deg, transparent, #ffffff 45%, #ffffff 50%, #ffffff 52%, 
    #ffffff 55%, transparent 45%, transparent 100% ),
	
    linear-gradient(#FE6767 100%, #FE6767 100% );

    font-family: 'Poppins', sans-serif;
}

header{
    display: grid;
    grid-template-columns: 1fr .5fr;
    margin-top: 70px;
   
}

.logo{
    margin-left: 140px;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: #FE6767;
}

.menu{
    display: flex;
    justify-content: space-between;
    margin-right: 140px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

main{
    display: grid;
    grid-template-areas: "text img" "info info";
}

.bikes{
    grid-area: img;
}

.bici{
    width: 980px;
}

.bicicleta{
    width: 1100px;
    height: 550px;
    position: absolute;
    transform: translate(-25%, 20%);
}

.bicicleta2{
    position: absolute;
    transform: translate(310%, 0%);
}

.description_title{
    height: auto;
    font-weight: 700;
    font-size: 64px;
    font-style: italic;
    color:#545454;
    margin-left: 140px;
    margin-top: 247px;
    width: 750px;
}

.description_title2{
    height: auto;
    font-weight: 700;
    font-size: 64px;
    font-style: italic;
    color: #FE6767;
    margin-left: 140px;
}

.description_title2::after{
    content: ".";
    color:#545454;
}

.description_text{
    color: #B6B6B6;
    font-size: 24px;
    font-weight: 500;
    margin-left: 140px;
    width: 500px;
}

.botao{
    width: 300px;
    height: 50px;
}

.book{
    width: 300px;
    height: 50px;
    background-color: #FE6767;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.parteDeBaixo{
    display: flex;
    width: 700px;
    margin-left: 140px;
    margin-top: 50px;
}

.learnMore{
    align-self: center;
    width: 100%;
    color:#FE6767
}

.learn{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
}

.description{
    margin-left: 40PX;
    display: grid;
    width: 900px;
    grid-area: text;
}

.informacoes{
    width: 100%;
    grid-area: info;
    margin-top: 47px;
    display: grid;
    grid-template-rows:repeat(2, 1fr);
}

#titulo{
    color: #B6B6B6;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
}

#numero{
    color: #FE6767;
    font-weight: 700;
    font-style: italic;
    font-size: 45px;
}

#titulo2{
    color: #545454;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
}

#numero2{
    color: #fff;
    font-weight: 700;
    font-style: italic;
    font-size: 45px;
}

.esquerda{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transform: translateX(-5%);
}

.battery{
    display: grid;
    text-align: center;
}

.assist{
    display: grid;
    text-align: right;
}

.direita{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    transform: translateX(-5%);
}

.charging{
    display: grid;
    text-align: end;
}

.peso{
    display: grid;
    text-align: center;
}
